[Unit]
Description=A large /var/tmp in memory, for the live session
Documentation=man:tmpfs(5)
ConditionKernelCommandLine=rd.live.image
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=tmpfs
Where=/var/tmp
Type=tmpfs
Options=mode=1777,strictatime,nosuid,nodev,size=50%%

[Install]
WantedBy=local-fs.target
